    :root {
        --urgent-important: #ff6b6b;
        --urgent-not-important: #ffd43b;
        --not-urgent-important: #51cf66;
        --not-urgent-not-important: #339af0;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: Arial, sans-serif; */
    }

    @font-face {
        font-family: "APhont";
        src: url("fontes/aphont/APHont-Regular_q15c.ttf") format("truetype");
        font-display: swap;
    }

    body {
        padding: 20px;
        background-color: #f5f5f5;
        font-family: "APhont", sans-serif;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #333;
        font-size: 24px;
    }

    .info-panel {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .info-panel h2 {
        color: #2c3e50;
        margin-bottom: 15px;
        font-size: 20px;
    }

    .info-panel p,
    .info-panel ol {
        margin-bottom: 10px;
        line-height: 1.5;
        font-size: 14px;
    }

    .controls {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;
    }

    button:hover {
        background-color: #45a049;
    }

    button.remove-btn {
        background-color: #dc3545;
        padding: 5px 10px;
        font-size: 14px;
        margin-left: 5px;
    }

    button.remove-btn:hover {
        background-color: #c82333;
    }

    .task-form {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: none;
    }

    .task-form.active {
        display: block;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #333;
        font-size: 14px;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 14px;
    }

    .matrix {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        margin-bottom: 20px;
    }

    .quadrant {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .quadrant h3 {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid;
        font-size: 18px;
    }

    .quadrant ul {
        list-style-type: none;
    }

    .quadrant li {
        padding: 8px;
        margin-bottom: 5px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .urgent-important h3 {
        border-color: var(--urgent-important);
        color: var(--urgent-important);
    }

    .urgent-not-important h3 {
        border-color: var(--urgent-not-important);
        color: var(--urgent-not-important);
    }

    .not-urgent-important h3 {
        border-color: var(--not-urgent-important);
        color: var(--not-urgent-important);
    }

    .not-urgent-not-important h3 {
        border-color: var(--not-urgent-not-important);
        color: var(--not-urgent-not-important);
    }

    .saved-lists {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: none;
    }

    .saved-lists.active {
        display: block;
    }

    .saved-lists ul {
        list-style-type: none;
    }

    .saved-lists li {
        padding: 10px;
        margin-bottom: 5px;
        background-color: #f8f9fa;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
    }

    .saved-lists li:hover {
        background-color: #e9ecef;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 28px;
        }

        .controls {
            flex-direction: row;
            justify-content: center;
        }

        .matrix {
            grid-template-columns: repeat(2, 1fr);
        }

        .info-panel h2 {
            font-size: 22px;
        }

        .info-panel p,
        .info-panel ol {
            font-size: 16px;
        }

        .quadrant h3 {
            font-size: 20px;
        }

        .quadrant li,
        .saved-lists li {
            font-size: 16px;
        }
    }